<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <title>Quiz Educacional: Países</title>
  </head>
  <body>
    <div id="container">
      <h1>QUIZ EDUCACIONAL: PAÍSES</h1>
      <img src="{{url}}" alt="" srcset="" />
      <p id="hint">{{hint}}</p>
      <p id="summary">{{summary}}</p>
    </div>
  </body>
</html>